<table></table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <th>{{id}}</th>
            <th>{{name}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>        